
<%= render :partial => "admin/companies/sidebar"%>
<div class="col-md-10">
  <div class=" right">
    <%=link_to admin_company_members_path, :class=>"btn btn-default" do%>
    <span class="glyphicon glyphicon-arrow-left"></span>
    <%end%>
  </div>
  <%=form_for @member, :url => admin_company_members_path(@company) do |m|%>
    <%=render :partial => "form", :locals => {:m =>m}%>
  <%end%>
</div>
<br>
<br>