
    <div class="col-md-offset-4 col-md-4 delivery-success">
        <div class="col-md-12">
        <h3>寄送成功</h3>
        <hr>
        <h5>
        Yourator已經將您的履歷資訊寄送出去，請您靜待通知。
        </h5>
        <h5 class="glyphicon glyphicon-exclamation-sign">提醒您，在徵才公司開啟您的履歷之前，您所做的修改都會更新到您的履歷表。</h5>
        </div>

      <div class="col-md-12">
        <%=link_to "看更多公司", companies_path, :class=>"btn btn-primary"%>
        <%=link_to "看更多職缺",jobs_path, :class=>"btn btn-primary"%>
      </div>
    </div>
