<div class="about-title">
     <div>
        <div class="short-line pull-left"></div>
        <h3 class="pull-left">個資法宣告</h3>
        <div class="short-line pull-right"></div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-6 about">
      <div class="col-md-12">
        <h4 class="text-center">個資法宣告</h4>
        <div>
          <div class="long-line pull-right"></div>
          <div class="clearfix"></div>
          <br>
        </div>
        <p>
        歡迎使用「Yourator」所提供之職務媒合服務。依據個人資料保護法（以下稱個資法），為了確保使用者之個人資料、隱私及權益之保護，當您選擇加入「Yourator」網站成為會員時，即視為您已閱讀、瞭解並同意接受「Yourator」網站本文件以下宣告之全部內容，若您不同意，請立即登出並停止使用「Yourator」網站所提供之任何會員服務。「Yourator」網站有權於任何時間修改或變更本文件之內容，您若於修改或變更後繼續使用「Yourator」網站之服務，即視為您已閱讀、瞭解並同意接受該等修改或變更後之內容。
        </p>

        <p>
        以下 「Yourator」網站簡稱「本網站」，您以「使用者」稱之，而求才廠商簡稱為「廠商」。本網站根據個資法第八條規定，公告以下聲明事項，請您務必詳閱。
        </p>

        <h5> 一、 個人資料蒐集目的：</h5>
        <p>
        人力仲介管理、會員服務與管理，包含：〇〇二 人事管理（包含甄選、離職及所屬員工基本資訊、現職、學經歷、薪資待遇、差勤、福利措施、特殊查核或其他人事措施）、〇二〇 代理與仲介業務、一一七 就業安置、規劃與管理、一三六 資(通)訊與資料庫管理、一四五 僱用與服務管理、一五七 調查、統計與研究分析、一五八 學生（員）(含畢、結業生)資料管理、一八二 其他諮詢與顧問服務
        </p>
        <h5>二、 個人資料蒐集類別：</h5>
        <p>
        識別類、特徵類、家庭情形、社會情況、教育、技術或其他專業、受僱情形。包含但不限於：Ｃ○○一 辨識個人者（例如：姓名、住址、電子郵件信箱、行動電話、網路平臺申請之帳號、相片）、Ｃ○一一 個人描述（例如：出生年月日、性別）、Ｃ○一四 個性（例如：個性等之評述意見）、Ｃ○三三 移民情形（例如：工作許可文件、居留證明文件）、Ｃ○三八 職業、Ｃ○五一 學校紀錄、Ｃ○五二 資格或技術、Ｃ○五三 職業團體會員資格、Ｃ○五四 職業專長、Ｃ○五七 學生(員)、應考人紀錄、Ｃ○六一 現行之受僱情形（例如：工作職稱、工作描述、、工作地點、產業特性、受僱之條件）、Ｃ○六二 僱用經過（例如：日期、受僱方式、介紹）、Ｃ○六三 離職經過（例如：離職之日期、離職之原因）、Ｃ○六四 工作經驗、Ｃ○六八 薪資與預扣款（例如：薪水、工資、佣金、紅利）、Ｃ○七一 工作之評估細節，及其他任何得以用於求職輔導之相關個人資料等。
        </p>

        <h5>三、 個人資料利用之期間、地區、對象及方式：</h5>
        <ul style="list-style-type: none;padding-left: 0px;">
            <li>（一）期間：利用期間為本網站持續提供服務至使用者提出停止利用，或本網站終止提供服務之日止。</li>
            <li>（二）地區：使用者的個人資料將用於本網站提供服務之地區。</li>
            <li>（三）對象：本網站、利用本網站服務之使用者，及本網站之合作推廣單位及廠商。</li>
            <li>（四）方式：網際網路、電子郵件、簡訊、書面及傳真。</li>
        </ul>

        <h5>四、依據個資法第三條規定，使用者得就本網站保有的個人資料行使下列權利：
        </h5>
        <ul style="list-style-type: none;padding-left: 0px;">
            <li>（一）查詢或請求閱覽。</li>
            <li>（二）請求製給複製本。</li>
            <li>（三）請求補充或更正。</li>
            <li>（四）請求停止蒐集、處理或利用。</li>
            <li>（五）請求刪除。</li>
        </ul>

        <h5>
        五、 使用者得自由選擇提供個人資料時，不提供將對其權益之影響：本網站係一提供求職及職涯社群服務之網站，當事人若不加入成為本網站會員或不提供完整個人資料，本網站將無法適時或完整提供當事人相關之服務。
        </h5>
        <div class="pull-right">
        公告日期：2015/11/25
        </div>
      </div>
  </div>
    <%=render :partial => "about_sidebar.html.erb"%>
</div>

